/* CSS styles for desktop */




div.textfield {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}




/* CSS styles for mobile devices */
html.mobile {
}

html.mobile div.textfield h1 {
  font-size: 2.3em;
}

html.mobile div.textfield {
  width: 100%;
  font-size: 2em;
}
