body {
  background: #2a5d9b;
  background: linear-gradient(45deg,rgba(42, 93, 155, 1) 0%, rgba(237, 83, 227, 1) 100%);
  z-index: -1;
}

div.content {
  background: #7188a8;
  background: linear-gradient(-45deg,rgba(113, 136, 168, 1) 0%, rgba(237, 183, 234, 1) 100%);
  border: 10px outset #2a5d9b;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.57);
  width: 60vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* Mobile shit - detects if the page is loaded in a space of 900 px wide or less and alters how content is displayed accordingly */
@media only screen and (max-width: 900px),
  screen and (orientation: portrait) {
  h1 {font-size: 3em !important;}
  h2 {font-size: 2em !important;}
  h3 {font-size: 1.5em !important;margin-left: auto;margin-right: auto;}
  h4 {font-size: 1.2em !important;margin-left: auto;margin-right: auto;overflow: auto;}
  h5 {font-size: 1em !important;margin-left: auto;margin-right: auto;}
  h6 {font-size: 1em !important;}
  p {font-size: 1em !important;}
  div.content {position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);}
}
