<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hidden Master's Page</title>
    <link rel="stylesheet" type="text/css" href="css.css" />
  </head>
  <body>
    <div class="content">
      <div class="center">
        <h1>Hidden Master's Page-o-Links!</h1>
        <a href="url">link text</a><br>
        <a href="url">link text</a><br>
        <a href="url">link text</a><br>
        <a href="url">link text</a><br>
        <a href="url">link text</a>
      </div>

    </div>
  </body>
</html>
