@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  background-color:#000;
  margin:0;
  overflow:hidden;
  padding:0;
}

img.pagebg {
  object-fit: fill;
  height: 100vh;
  width: 100%;
  z-index:100;
  position: absolute;
  pointer-events: none;
}

.pipboytext {
  font-family: 'Nanum Gothic', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #009a00 #222222;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #222222;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #009a00;
    border-radius: 24px;
    border: 7px solid #009a00;
  }

/* Pipboy Screen */

.screen {
  animation:colorPulse 5s infinite ease-in-out;
  background-image:radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #000 inset;
  box-sizing:border-box;
  /* font-family:'Fira Mono', monospace; */
  font-family: 'Share Tech Mono', monospace;
  font-size:1.05em;
  height:80vh;
  overflow:hidden;

  padding:10vmin;
  width:71vw;
  height:90vh;
  position: absolute;
  bottom: 0vh;
  left: 28vw;
  z-index: -100;
  cursor: pointer;
  cursor: url('img/cursor1.png'), auto;
}

.screen a {
  cursor: pointer;
  cursor: url('img/cursor2.png'), auto;
}

.screen p {
  cursor: pointer;
  cursor: url('img/cursor3.png') 6 12, auto;
}

.navcontainer a {
  cursor: pointer;
  cursor: url('img/cursor2.png'), auto;
}

.screen:before {
  animation:wave 10s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:fixed;
  right:0;
  z-index:1;
}

.screen:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  z-index:2;
}

p:last-child:after {
  animation:blink 1s infinite;
  content:"_";
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}

/* Content Window */
div.contentwindow {
  margin-left: -5%;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: scroll; /* Show vertical scrollbar */
  width: 100%;
  height: 100%;
}

/* Pipboy Navbar */

.navcontainer {
  background-color: none;
  background-image:linear-gradient(#080808, #161616);
  box-shadow: 0 0 5px 10px linear-gradient(#080808, #161616);
  border-bottom: solid 5px #009a00;
  width:75vw;
  height:7%;
  position: absolute;
  top: 10vh;
  left: 25vw;
  z-index: -90;
  color: #009a00;
  font-family: 'Share Tech Mono', monospace;
  font-size: calc(1vw + 1.75vh);
  line-height: calc(3.5vh + 1.5vw);
  cursor: pointer;
  cursor: url('img/cursor1.png'), auto;
  vertical-align: middle;
}

.navcontainer:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;

}

.navtitle {
  display: inline-block;
  vertical-align: bottom;

  padding-top: 1%;
  float: left;
  margin-right: 2%;
  margin-left: 6%;
  font-weight: bold;

}

/* Links inside the navbar */
.navbar a {

  float: left;

  color: white;
  text-align: center;

  text-decoration: none;
  cursor: pointer;
  cursor: url('img/cursor2.png'), auto;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  padding-top: 0.35%;

  cursor: url('img/cursor1.png'), auto;
}

/* Dropdown button */
.dropbtn {
  margin-left: 1vw;

}

.dropdown .dropbtn {
  color: #009a00;
  font-family:'Fira Mono', monospace;
  color: orange;
  border: none;
  outline: none;

  vertical-align: bottom;
  font-size: calc(1vw + 1vh);
  background-color: inherit;
  border: solid 2px #00000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: url('img/cursor2.png'), auto;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  border: solid 2px #009a00;
  border-bottom: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  color: Orange;
  display: none;
  position: absolute;
  background-color: #444;
  background-image:linear-gradient(#161616, #444);
  background-size:4px 4px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: solid 2px #009a00;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: calc(1.2vw + 1.2vh);
  line-height: calc(0.8vw + 0.8vh);
}

.dropdown-content:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: Orange;
  padding: none;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.55em;
  line-height: normal;
  font-family:'Fira Mono', monospace;
  font-weight: bold;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #009a00;
  font-weight: bolder;
  color: #FFBF00;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Button Pannel */

.buttonpannel {
  /* background-color: rgba(0, 34, 255, 0.59); */
  position: absolute;
  height: 30vh;
  width: 15.5vw;
  bottom: 0.8vh;
  left: 2.5vw;
  z-index: 9999;
}

.buttonpannel button.redglow {
  background-color: #8a2c20;
  background: linear-gradient(#370700, #9e4f4a);
  box-shadow:
    0 -2px 5px rgba(255,255,255,0.05),
    0 2px 5px rgba(255,255,255,0.1);
  -webkit-filter:blur(1px);
  filter: blur(1px);
  height: 3vh;
  width: 1.66vw;
  margin-left: 1.6vw;
  margin-top: 0.55vh;
  border-radius: 50%;
  cursor: pointer;
}

.buttonpannel button.redglow:hover {
  background: radial-gradient(#d63d00, #9e0000);
  box-shadow: 0 15px 30px rgba(214, 61, 0, 0.8);
}

.buttontext {
  color: #DCCF68;
  margin-left: 1vw;
  line-height: 2.5vh;
  font-size: 3.2vh;
  vertical-align: -0.8vh;
  display: inline-block;
  margin-bottom: 3.3vh;
}

/* Pipboy Info Display Stuff */

.screen img.fullscreen {
  object-fit: fill;
  height: 100%;
  width: 100%;
  filter: invert(9%) sepia(40%) saturate(871%) hue-rotate(82deg) brightness(50%) contrast(108%);
  z-index: -80
}

.screen img {
  z-index: -80
}

img.right {
  float: right;
  width: 20%;
  margin: 1em;
}

figure {
  float:right;
  border: 2px #009a00 solid;
  padding: 4px;
  margin: auto;
  width: 25%;
}

figcaption {
  background-color: #009a00;
  color: black;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

.screen img.fullscreennotint {
  object-fit: fill;
  height: 100%;
  width: 100%;
  z-index: 0;
  position:absolute;
  right:0;
  top:0;
}

.splashscreen {
  opacity: 1;
  transition: opacity 2.5s ease-out;
}

.invis {
  display: none
}

.fadeout {
  opacity: 0;

}

.goaway {
  height: 0;
}

iframe.falloutwiki {
  filter: grayscale(100%);
  z-index:-50;
  position: absolute;
  width: 85%;
  height: 80%;
  border: none;
}

iframe.bigmap {
  cursor: url('img/cursor4.png') 10 -10, auto;
}

div.greentint {
  position: absolute;
  width: 85%;
  height: 80%;
  background-color: #009a00;
  opacity: 0.3;
  pointer-events: none;
  z-index:-40;
}

 #foobar { display: none }

 a.pipboy {
   color: #009a00;
   padding: 5px;
   border: solid 2px rgba(0,0,0,0);
 }
 a.pipboy:hover {
   border: solid 2px #009a00;
 }

div.screen a {
  color: orange;
}

div.screen ul.timeline {
  list-style-type: none;
}
div.screen ul.timeline ul {
  list-style-type: none;
}

div.screen ul.timeline ul li.ch {
  list-style-type: '⚙';
  padding-inline-start: 1ch;
  font-weight: bold;
  border-top: solid 1px none;
  border-bottom: solid 1px none;
}

div.screen ul.timeline ul li.ad {
  list-style-type: '★';
  padding-inline-start: 1ch;
  border-top: solid 1px none;
  border-bottom: solid 1px none;
}

div.screen ul.timeline ul li.nu {
  list-style-type: '☢';
  padding-inline-start: 1ch;
  font-style: bolder;
  border-top: solid 1px #DCCF68;
  border-bottom: solid 1px #DCCF68;
}

ul {
  list-style-type: '☢';
  overflow:hidden;
}

ul ul {
  list-style-type: '⚙';
}

ul ul ul {
  list-style-type: '㊷';
}

ul li {
  padding-inline-start: 1ch;
}

div.timelinecontrol {
  background-image:linear-gradient(#202020, #242424);
  display: block;
  margin-left: -20vw;
  margin-top: -2.5vh;
  border-bottom: solid 2px #009a00;
  width: 100%;
  text-align: center;
  position: fixed;
  cursor: url('img/cursor1.png'), auto;
}

.hidden {
  display: none;
}

div.screen ul a {
  color: orange;
}

/* Style checkboxes */
input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
  cursor: url('img/cursor2.png'), auto;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid black;
  margin-top: 3px;
  border-radius: 50%;
  background-color: white;
  cursor: url('img/cursor2.png'), auto;
}

input[type="checkbox"]:checked + label:before {
  background-color: orange; /* Change the background color when checked */
}

div.timelinecontrol label {
  cursor: url('img/cursor1.png'), auto;
}

figure.right {
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

figure.left {
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Flip Clock */
div#date {
  	position: fixed;
  	top: 0;
  	left: 0;
  	transform: translateY(0);
  	perspective: 100vw;
  	perspective-origin: 50% 50%;
  	z-index: 9999;
    margin-left: 2vw;
    margin-top: 3.2vh;
    border-radius: 2%;
    font-family: Oswald, sans-serif;
    font-size: calc(0.75vw + 0.875vh);
    line-height: calc(1.5vh + 0.75vw);
    color: #FFFFF0;
    font-weight: bold;
}
span#day {
    letter-spacing: calc(0.375vw + 0.4375vh);
}

span#month {
    margin-left: calc(0.1875vw + 0.21875vh);
    letter-spacing: calc(0.275vw + 0.4375vh);
}

span#year {
    margin-left: calc(0.3vw + 0.35vh);
    letter-spacing: calc(0.4125vw + 0.48125vh);
}

div#date span.time {
    margin-left: calc(2.2vw + 3.225vh);
    letter-spacing: calc(0.3275vw + 0.49875vh);
}

/* Collapsible */

.collapsible {
  background-color: #c76700;
  color: #222222;
  cursor: url('img/cursor2.png'), auto;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0.5vh;
}

.collapsible:hover {
  background-color: orange;
}
.active {
  background-color: #c76700;
}

.content {
  padding: 0 18px;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out, max-width 0.1s ease-out, border 0.1s ease-out;
  background-color: rgba(179, 92, 0, 0.2);
  margin-bottom: 0.5vh;
  color: #c76700;
}

.content-border {
  border: solid 3px #c76700;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.collapsible.active + .content {
  border: solid 3px #c76700;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 95%;
  transition: max-height 0.1s ease-out, max-width 0.1s ease-out, border 0.1s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */

    float: left;

}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Tables in Colapseables */

.content table {
  border-collapse: collapse;
  border: 2px solid #c76700;
  width: 100%;
}

.content table th {
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

}

.content table td {
  color: #c76700;
  border: 1px solid #c76700;
}


.content table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}

/* hacking game */
#failure-screen,
#win-screen {
  display: none;
}

#game-screen {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

#game-screen h1 {
  flex-basis: 100%;
}

#play-area {
  flex-basis: 68%;
}

#guess-log {
  flex-basis: 30%;
}

@media screen and (max-width: 768px) {
  #game-screen {
    flex-direction: column;
  }

  #guess-log {
    flex-basis: 100%;
  }
}

#password-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#password-options button {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
  background-color: #c76700;
  border: solid 3px #c76700;
  border-radius: 10px;
  cursor: url('img/cursor2.png'), auto;
  font-weight: bold;
  font-size: 1em;
}

#password-options button:hover {
  background-color: orange;
}

#password-options button:active {
  background-color: darkorange;
}
